<div class="card" style="width: 700px; border: 2px solid #36C1ED">
  <div class="card-title" style="text-align: center; margin-top: 40px; color: #12135d">
    <h3>Mitarbeiterinformationen eingeben</h3>
  </div>

  <div class="card-body">
    <form>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6">
          <label for="vorname">Vorname</label>
        </div>
        <div class="col-sm-6 col-lg-6">
          <label>Stadt</label>
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6">
          <input id="vorname" type="text" formControlName="vorname" placeholder="Vorname">
        </div>
        <div class="col-sm-6 col-lg-6">
          <input id="stadt" type="text" formControlName="stadt" placeholder="Stadt">
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6" style="margin-bottom: 5px">
          <label for="nachname">Nachname</label>
        </div>
        <div class="col-sm-6 col-lg-6" style="margin-bottom: 5px">
          <label>Telefonnummer</label>
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6">
          <input id="nachname" type="text" formControlName="nachname" placeholder="Nachname">
        </div>
        <div class="col-sm-6 col-lg-6">
          <input id="telefonnummer" type="text" formControlName="telefonnummer" placeholder="Telefonnummer">
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6" style="margin-bottom: 5px">
          <label for="strasse">Straße und Hausnummer</label>
        </div>
        <div class="col-sm-6 col-lg-6" style="margin-bottom: 5px">
          <label>Qualifikationen</label>
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6">
          <input id="strasse" type="text" formControlName="strasse" placeholder="Straße und Hausnummer">
        </div>
        <div class="col-sm-6 col-lg-6">
          <input id="qualifikationen" type="text" formControlName="qualifikationen" placeholder="Qualifikationen">
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6" style="margin-bottom: 5px">
          <label for="postleitzahl">Postleitzahl</label>
        </div>
      </div>

      <div class="row" style="margin-bottom: 5px">
        <div class="col-sm-6 col-lg-6">
          <input id="postleitzahl" type="text" formControlName="postleitzahl" placeholder="Postleitzahl">
        </div>

      </div>
    </form>

    <div class="row" style="margin-bottom: 5px">
      <div class="col-sm-6 col-lg-6">
        <button>Speichern</button>
      </div>
      <div class="col-sm-6 col-lg-6">
        <button>Abbrechen</button>
      </div>
    </div>
  </div>
</div>

