.footer {
  position: fixed;
  width: 100vw;
  height: 25vh;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 10vw;
  background: linear-gradient(
    to top,
    rgb(100% 100% 100%) 0%,
    rgb(100% 100% 100% / 0.999755859375) 6.25%,
    rgb(100% 100% 100% / 0.998046875) 12.5%,
    rgb(100% 100% 100% / 0.993408203125) 18.75%,
    rgb(100% 100% 100% / 0.984375) 25%,
    rgb(100% 100% 100% / 0.969482421875) 31.25%,
    rgb(100% 100% 100% / 0.947265625) 37.5%,
    rgb(100% 100% 100% / 0.916259765625) 43.75%,
    rgb(100% 100% 100% / 0.875) 50%,
    rgb(100% 100% 100% / 0.822021484375) 56.25%,
    rgb(100% 100% 100% / 0.755859375) 62.5%,
    rgb(100% 100% 100% / 0.675048828125) 68.75%,
    rgb(100% 100% 100% / 0.578125) 75%,
    rgb(100% 100% 100% / 0.463623046875) 81.25%,
    rgb(100% 100% 100% / 0.330078125) 87.5%,
    rgb(100% 100% 100% / 0.176025390625) 93.75%,
    rgb(100% 100% 100% / 0) 100%
  );
}
