<table>
  <thead>
    <tr>
      <th><p>ID</p></th>
      <th><p>Qualifikation</p></th>
      <th class="right-column">
        <input
          type="text"
          placeholder="Suche"
          id="search"
          [(ngModel)]="searchTerm"
        />
      </th>
    </tr>
  </thead>
  <tbody>
    @for (skill of filteredQualifications(); track skill) {
      <tr>
        @if (!toEdit(skill)) {
          <td>
            <p>{{ skill?.id }}</p>
          </td>
          <td>
            <div class="skill">{{ skill?.skill }}</div>
            <div
              class="skilled-employee-container"
              [hidden]="expandedSkillID !== skill.id"
            >
              @if (skilledEmployeeList) {
                @for (
                  skilledEmployee of skilledEmployeeList.employees;
                  track skilledEmployee
                ) {
                  <div class="skilled-employee">
                    {{ skilledEmployee.firstName }}
                    {{ skilledEmployee.lastName }}
                  </div>
                }
              }
            </div>
          </td>
          <td class="right-column">
            <div class="icons-container">
              <span
                *ngIf="expandedSkillID !== skill.id"
                class="material-symbols-outlined"
                title="Weitere Infos"
                (click)="toggleExpansion(skill.id)"
              >
                expand_circle_down
              </span>
              <span
                *ngIf="expandedSkillID === skill.id"
                class="material-symbols-outlined"
                title="Weniger Infos"
                (click)="toggleExpansion(skill.id)"
              >
                expand_circle_up
              </span>
              <span
                class="material-symbols-outlined"
                title="Bearbeiten"
                (click)="edit(skill)"
              >
                build_circle
              </span>
              <span
                class="material-symbols-outlined"
                id="delete-btn"
                title="Löschen"
              >
                do_not_disturb_on
              </span>
            </div>
          </td>
        }
        @if (toEdit(skill)) {
          <td>
            <p>{{ skill?.id }}</p>
          </td>
          <td>
            <input
              class="edit"
              type="text"
              placeholder="{{ skill?.skill }}"
              [(ngModel)]="skill.skill"
            />
          </td>
          <td class="right-column">
            <div class="icons-container">
              <span
                class="material-symbols-outlined"
                title="Abspeichern"
                (click)="save(skill)"
                >save</span
              >
              <span
                class="material-symbols-outlined"
                title="Abbrechen"
                (click)="cancelEdit()"
                >cancel</span
              >
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
<div class="foundation"></div>

<!-- Footer with buttons -->
<app-footer>
  <app-add-qualification-button></app-add-qualification-button>
</app-footer>
