table {
  width: 60%;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}
thead {
  color: var(--color-lightblue);
}
tr {
  border-bottom: 2px solid var(--color-lightgray);
  overflow-wrap: break-word;
}
th {
  text-align: left;
  padding: 1vw;
}
span {
  margin-left: 2vw;
}

.skilled-employee span {
  margin: 1vw 4vh;
  padding: 1vw;
  background-color: var(--color-actiongreen);
  color: white;
  border-radius: 2vh;
  display: inline-block;
}
.foundation {
  height: 20vh;
}
.material-symbols-outlined {
  font-size: 6vh;
  color: var(--color-lightblue);
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: var(--color-actiongreen);
}
#delete-btn:hover {
  color: var(--color-dangerorange);
}
#search {
  height: 4vh;
  border: 2px solid var(--color-lightblue);
  border-radius: 2vh;
  font-family: "Quicksand", sans-serif;
  margin-left: 2vw;
}
.edit {
  margin-left: 2vw;
}
input[type="text"]::placeholder {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
}
