table {
  width: 60%;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}
thead {
  color: var(--color-lightblue);
}
p {
  margin-left: 2vw;
}
tr {
  border-bottom: 2px solid var(--color-lightgray);
  overflow-wrap: break-word;
}
.right-column {
  text-align: right;
}

.skill {
  padding: 3vh 0;
  margin-left: 2vw;
}
.skilled-employee {
  margin: 1vw 2vh;
  padding: 1vw;
  background-color: var(--color-actiongreen);
  color: white;
  border-radius: 2vh;
}
.no-skilled-employee {
  margin: 1vw 4vh;
  padding: 1vw;
  background-color: var(--color-dangerorange);
  color: white;
  border-radius: 2vh;
}
.icons-container {
  margin-right: 2vw;
}
.foundation {
  height: 20vh;
}
.material-symbols-outlined {
  font-size: 6vh;
  color: var(--color-lightblue);
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: var(--color-actiongreen);
}
.material-symbols-outlined #delete {
  font-size: 2vh;
}
#delete-btn:hover {
  color: var(--color-dangerorange);
}
#search {
  height: 4vh;
  border: 2px solid var(--color-lightblue);
  border-radius: 2vh;
  font-family: "Quicksand", sans-serif;
  margin-right: 2vw;
  padding-left: 1vw;
}
.edit {
  margin-left: 2vw;
  font-family: "Quicksand", sans-serif;
}
input[type="text"]::placeholder {
  font-family: "Quicksand", sans-serif;
}
