<table>
  <thead>
    <tr>
      <th></th>
      <th><span>ID</span></th>
      <th><span>Qualifikation</span></th>
      <th>
        <input type="text" placeholder="Suche" id="search" [(ngModel)]="searchTerm" />
      </th>
    </tr>
  </thead>
  <tbody>
    @for (skill of filteredQualifications(); track skill) {
      <tr>
        <th></th>
        <th>
          <span>{{ skill?.id }}</span>
        </th>
        <th>
          <span class="skill">{{ skill?.skill }}</span>
          <div class="skilled" [hidden]="expandedSkillID !== skill.id">
            <div class="skilled-employee">
              <span>TODO Insert Persons here!</span>
            </div>
          </div>
        </th>
        <th>
          <span
            *ngIf="expandedSkillID !== skill.id"
            class="material-symbols-outlined"
            title="Weitere Infos"
            (click)="toggleExpansion(skill.id)"
          >
            expand_circle_down
          </span>
          <span
            *ngIf="expandedSkillID === skill.id"
            class="material-symbols-outlined"
            title="Weitere Infos"
            (click)="toggleExpansion(skill.id)"
          >
            expand_circle_up
          </span>
          <span class="material-symbols-outlined" title="Bearbeiten">
            build_circle
          </span>
          <span
            class="material-symbols-outlined"
            id="delete-btn"
            title="Löschen"
          >
            cancel
          </span>
        </th>
      </tr>
    }
  </tbody>
</table>
<div class="foundation"></div>

<!-- Footer with buttons -->
<app-footer>
  <app-add-qualification-button></app-add-qualification-button>
</app-footer>
