.list {
  width: 70%;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}
.list thead {
  color: var(--color-lightblue);
}
.list-row {
  border-bottom: 2px solid var(--color-lightgray);
  overflow-wrap: break-word;
  height: 10vh;
}
.list th {
  padding: 1vw;
}
.avatar {
  max-width: 3vw;
}
img {
  border-radius: 50%;
}
.icons {
  text-align: center;
}
#delete-skill {
  margin-left: 0.5vw;
  font-size: 4vh;
  color: var(--color-dangerorange);
}
.edit-skill-container {
  display: flex;
  align-items: center;
}
.edit {
  font-family: "Quicksand", sans-serif;
}

.material-symbols-outlined {
  font-size: 6vh;
  color: var(--color-lightblue);
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: var(--color-actiongreen);
}
#delete-btn:hover {
  color: var(--color-dangerorange);
}
#search {
  height: 4vh;
  border: 2px solid var(--color-lightblue);
  border-radius: 2vh;
  font-family: "Quicksand", sans-serif;
}
input[type="text"]::placeholder {
  padding: 10px;
}
.foundation {
  height: 20vh;
  width: 100%;
}
