.list {
  width: 70%;
  border-collapse: collapse;
  text-align: left;
  margin: auto;
}
.list thead {
  color: var(--color-lightblue);
}
.list-row {
  border-bottom: 2px solid var(--color-lightgray);
  overflow-wrap: break-word;
  height: 10vh;
}
.list td {
  margin-right: 2vw;
}
.avatar {
  max-width: 3vw;
}
img {
  border-radius: 50%;
}
.name {
  padding: 1vw;
}
.name span {
  margin-right: 0.5vw;
}
.icons {
  text-align: center;
}
.skills-not-extended {
  padding: 2vh 0;
}
.skills-table {
  padding-bottom: 1vh;
}
.skills-table td,
th {
  padding-right: 20px;
}
#delete-skill {
  color: var(--color-dangerorange);
  margin-right: 0.5vw;
  font-size: 4vh;
}
.delete-skill-container {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}
.edit-skill-container {
  float: left;
  flex-direction: column;
}
.edit-skill-container td {
  background-color: #ff2e2e;
}
.edit {
  font-family: "Quicksand", sans-serif;
}
.add-skill-container {
  margin-top: 3vh;
  display: flex;
}
#add-skill {
  color: var(--color-actiongreen);
  margin-left: 0.5vw;
  font-size: 4vh;
}
.skill-select {
  margin-left: 5vw;
  font-family: "Quicksand", sans-serif;
  border: 2px solid var(--color-lightblue);
  border-radius: 1vh;
}

.material-symbols-outlined {
  font-size: 6vh;
  color: var(--color-lightblue);
  cursor: pointer;
}
.material-symbols-outlined:hover {
  color: var(--color-actiongreen);
}
#delete-btn:hover {
  color: var(--color-dangerorange);
}
#search {
  height: 4vh;
  border: 2px solid var(--color-lightblue);
  border-radius: 2vh;
  font-family: "Quicksand", sans-serif;
}
input[type="text"]::placeholder {
  padding: 10px;
}
.foundation {
  height: 20vh;
  width: 100%;
}
