<table class="list">
  <thead>
    <tr class="list-row">
      <th class="avatar"></th>
      <th class="name">Name</th>
      <th class="skills">Qualifikation</th>
      <th class="icons">
        <input
          type="text"
          placeholder="Suche"
          id="search"
          [(ngModel)]="searchTerm"
        />
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of filteredEmployeeList()" class="list-row">
      @if (!toEdit(employee)) {
        <td class="avatar">
          <img
            src="https://i.pravatar.cc/50?img={{
              Math.floor(
                Math.random() * 71
              ) //Random Avatar (only 70 pictures available)
            }}"
            alt="User Avatar"
            class="avatar"
          />
        </td>
        <td class="name">
          <span>{{ employee?.firstName }}</span>
          <span>{{ employee?.lastName }}</span>
        </td>
        <td class="skills">
          <div class="skills-not-extended">
            @for (skill of employee.skillSet; track skill) {
              {{ skill.skill }}
            }
          </div>
          <div [hidden]="expandedEmployeeId !== employee.id">
            <table class="skills-table">
              <thead>
                <tr>
                  <th>Street</th>
                  <th>City</th>
                  <th>Postcode</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody class="skills-address">
                <tr>
                  <td>{{ employee?.street }}</td>
                  <td>{{ employee?.city }}</td>
                  <td>{{ employee?.postcode }}</td>
                  <td>{{ employee?.phone }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="icons">
          <span
            *ngIf="expandedEmployeeId !== employee.id"
            class="material-symbols-outlined"
            title="Weitere Infos"
            (click)="toggleExpansion(employee.id)"
          >
            expand_circle_down
          </span>
          <span
            *ngIf="expandedEmployeeId === employee.id"
            class="material-symbols-outlined"
            title="Weitere Infos"
            (click)="toggleExpansion(employee.id)"
          >
            expand_circle_up
          </span>
          <span
            class="material-symbols-outlined"
            title="Bearbeiten"
            (click)="edit(employee)"
          >
            build_circle
          </span>
          <span
            class="material-symbols-outlined"
            id="delete-btn"
            title="Löschen"
          >
            do_not_disturb_on
          </span>
        </td>
      }
      @if (toEdit(employee)) {
        <td class="avatar">
          <img
            src="https://i.pravatar.cc/50?img={{
              Math.floor(
                Math.random() * 71
              ) //Random Avatar (only 70 pictures available)
            }}"
            alt="User Avatar"
            class="avatar"
          />
        </td>
        <td class="name">
          <input
            class="edit"
            type="text"
            placeholder="{{ employee?.firstName }}"
            [(ngModel)]="employee.firstName"
          />
          <input
            class="edit"
            type="text"
            placeholder="{{ employee?.lastName }}"
            [(ngModel)]="employee.lastName"
          />
        </td>
        <td class="skills-extended">
          <div class="edit-skill-container">
            @for (skill of employee.skillSet; track skill) {
              <div class="delete-skill-container">
                <span
                  class="material-symbols-outlined"
                  title="Löschen"
                  id="delete-skill"
                  >do_not_disturb_on</span
                >
                {{ skill.skill }}
              </div>
            }
          </div>
          <div class="add-skill-container">
            <select class="skill-select">
              @for (skill of skillList; track skill) {
                <option value="{{ skill.id }}">{{ skill.skill }}</option>
              }
            </select>
            <span
              id="add-skill"
              class="material-symbols-outlined"
              title="Qualifikation hinzufügen"
              >add_circle</span
            >
          </div>

          <div [hidden]="expandedEmployeeId !== employee.id">
            <table class="skills-table">
              <thead>
                <tr>
                  <th>Street</th>
                  <th>City</th>
                  <th>Postcode</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody class="skills-address">
                <tr>
                  <td>
                    <input
                      class="edit"
                      type="text"
                      placeholder="{{ employee?.street }}"
                      [(ngModel)]="employee.street"
                    />
                  </td>
                  <td>
                    <input
                      class="edit"
                      type="text"
                      placeholder="{{ employee?.city }}"
                      [(ngModel)]="employee.city"
                    />
                  </td>
                  <td>
                    <input
                      class="edit"
                      type="text"
                      placeholder="{{ employee?.postcode }}"
                      [(ngModel)]="employee.postcode"
                    />
                  </td>
                  <td>
                    <input
                      class="edit"
                      type="text"
                      placeholder="{{ employee?.phone }}"
                      [(ngModel)]="employee.phone"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        <td class="icons">
          <span
            *ngIf="expandedEmployeeId !== employee.id"
            class="material-symbols-outlined"
            title="Weitere Infos"
            (click)="toggleExpansion(employee.id)"
          >
            expand_circle_down
          </span>
          <span
            *ngIf="expandedEmployeeId === employee.id"
            class="material-symbols-outlined"
            title="Weitere Infos"
            (click)="toggleExpansion(employee.id)"
          >
            expand_circle_up
          </span>
          <span
            class="material-symbols-outlined"
            title="Speichern"
            (click)="save(employee)"
          >
            save
          </span>
          <span
            class="material-symbols-outlined"
            title="Abbrechen"
            (click)="cancelEdit()"
          >
            cancel
          </span>
        </td>
      }
    </tr>
  </tbody>
</table>
<div class="foundation"></div>

<!-- Footer with buttons -->
<app-footer>
  <app-add-employee-button></app-add-employee-button>
</app-footer>
