<!-- Main content wrapper -->
<div class="content">
  <!-- Header section -->
  <header class="header">
    <!-- Logo image -->
    <img
      class="logo"
      src="assets/images/HiTech-Logo-pos.png"
      alt="logo HiTech GmbH"
      aria-hidden="true"
    />
    <!-- Logout button -->
    <span class="material-symbols-outlined" id="logout" title="Log out" (click)="logout()">exit_to_app</span>
  </header>

  <!-- Navigation bar section -->
  <section>
    <app-nav-bar></app-nav-bar>
  </section>

  <!-- -->
  <app-add-qualification-formular></app-add-qualification-formular>
  <app-add-employee-formular></app-add-employee-formular>
  <!-- Router outlet for dynamic content -->
  <router-outlet></router-outlet>
</div>
