<div class="content">
  <header class="header">
    <img
      class="logo"
      src="assets/images/HiTech-Logo-pos.png"
      alt="logo HiTech GmbH"
      aria-hidden="true"
    />
    <span class="material-symbols-outlined" id="logout" title="Log out"
    >exit_to_app</span
    >
  </header>
  <section>
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
  </section>
  <app-footer>
      <app-add-employee-button *ngIf="currentRoute === '/employees'"></app-add-employee-button>
      <app-add-qualification-button *ngIf="currentRoute === '/qualifications'"></app-add-qualification-button>
  </app-footer>
</div>

