.navbar {
  width: 70%;
  display: flex;
  text-align: left;
  margin: auto;
}
.navbar h3 {
  display: flex;
  margin-right: 10vw;
  align-items: flex-end;
}
.active {
  color: var(--color-darkblue);
  /*text-decoration: underline;*/
  /*text-decoration-thickness: 2px;*/
}
.inactive {
  color: var(--color-lightgray);
  cursor: pointer;
}
.inactive:hover {
  color: var(--color-darkblue);
}
