<div class="card" style="width: 500px; border: 3px solid #36C1ED; border-radius: 2vw; background-color: white">
  <div class="card-title" style="text-align: center; margin-top: 40px; color: #12135d">
    <h3>Qualifikationsinformationen eingeben</h3>
  </div>

  <div class="card-body">
    <form>
      <div class="grid-container">
        <div class="grid-item">
          <div style="margin-bottom: 10px">
            <label for="bezeichnung">Bezeichnung</label>
          </div>
          <div>
            <input id="bezeichnung" type="text" formControlName="bezeichnung" placeholder="Vorname">
          </div>
        </div>

        <div class="grid-item">
          <div style="margin-bottom: 10px">
            <label></label>
          </div>
          <div>
            <label></label>
          </div>
        </div>


        <div class="grid-item">
          <button type="submit" (click)="saveQualification()">Speichern</button>
        </div>
        <div class="grid-item">
          <button class="button-cancel" type="reset" (click)="closeForm()">Abbrechen</button>
        </div>
      </div>
    </form>
  </div>
</div>
