@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
  --color-lightblue: #36C1ED;
  --color-darkblue: #00199E;
  --color-lightgray: #d5d5d5;
  --color-gray: #9a9a9a;
  --color-actiongreen: #9DED36;
  --color-dangerorange: #FF5C00;
  --color-darkerblue: #12135d;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: large;
  color: var(--color-gray);

  background-image: url("/assets/images/bg-master-v3.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: 110vh;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;

}
button {
  border: none;
  border-radius: 2vh;
  padding: 2vh;
  font-size: large;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--color-lightblue);
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: var(--color-actiongreen);
  color: var(--color-darkblue);
}




/* You can add global styles to this file, and also import other style files */
